<!DOCTYPE html>
<!--[if lte IE 6]><html class="preIE7 preIE8 preIE9"><![endif]-->
<!--[if IE 7]><html class="preIE8 preIE9"><![endif]-->
<!--[if IE 8]><html class="preIE9"><![endif]-->
<!--[if gte IE 9]><!--><html><!--<![endif]-->

<!--

IMPORTANT SECURITY NOTICE - PLEASE READ!!!
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

The Zer0net Gateway at (https://0net.io) is provided as a convenience for
Internet / Clearnet users to easily access the TrustLess Web™.

However, we strongly advise that users opt to use one of the recommended
"native" clients for their preferred device(s) / platform(s):

    1. Zeronet Explorer (Android & iOS)
    2. Zeronet Explorer XL (Windows, Mac, Linux)
    3. ZeroNet Core (Windows, Mac, Linux)

The source code of this gateway is uncompressed and has been specifically
written in human-readable format to be easily auditable by not only SCMs,
but also by anyone with knowledge of HTML, JS and CSS.

The team at Decentralization Authority MDAO has taken EVERY precaution
to protect our user's privacy and safety. However, please take special care
in using this gateway for ANY activites that could result in
NEGATIVE real-life consequences.

WHOZSOZ: What happens on Zeronet, stays on Zeronet™

Cheers!
Diana Queen

https://d14na.org
support@d14na.org

-->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Zer0net</title>
    <meta name="author" content="D14na - Decentralization Authority MDAO">
    <meta name="description" content="A secure gateway for Internet users to easily access a TrustLess Web™ experience. What happens on Zeronet, stays on Zeronet™.">
    <meta name="keywords" content="0net, zeronet, p2p, peer-to-peer, decentralized, decentralized web, torrent, bittorrent, crypto, bitcoin, ethereum, dapp">

    <!--[if IE]><link rel="shortcut icon" href="./images/favicon.ico"><![endif]-->
    <link rel="icon" href="./images/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="./images/apple-touch-icon-precomposed.png">

    <!-- Vendor Stylesheets -->
    <link href="https://cdn.0net.io/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://cdn.0net.io/libs/Ionicons/4.2.1/css/ionicons.min.css" rel="stylesheet">
    <link href="https://cdn.0net.io/libs/flag-icon-css/css/flag-icon.min.css" rel="stylesheet">

    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="./css/main.css">

    <style type="text/css">
    .gatekeeper {
        position: absolute;
        top: 75px;
        left: 0;
        right: 0;
        bottom: 0;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        /* background-color: rgba(30, 30, 220, 0.5); */
    }
    .gatekeeper iframe {
        display: block;
        width: 100%;
        height: 100%;
        border: none;
    }
    </style>

    <!-- Matomo (Analytics) -->
    <!--
    Matomo (formerly Piwik) is an open-source analytics platform used to:
        1. Monitor the overall health of the Zer0net Web Gateway.
        2. Provide insights into usage patterns.
        3. Identify bugs and errors.

    For more information, please visit https://matomo.org/
    -->
    <script type="text/javascript">
    var _paq = _paq || []
    _paq.push(['trackPageView'])
    _paq.push(['enableLinkTracking']);

    (function() {
        var u='https://matomo.d14na.org/'
        _paq.push(['setTrackerUrl', u+'piwik.php'])
        _paq.push(['setSiteId', '2'])
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0]
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s)
    })()
    </script>
    <!-- End Matomo (Analytics) -->
</head>

<body>

<div id="app" class="slim-header">
    <div class="container">
        <div class="slim-header-left">
            <h2 class="slim-logo d-none d-sm-flex"><a href="" class="text-secondary">Zer<span class="text-primary">0net</span></a></h2>

            <div class="search-box">
                <input type="text" class="form-control" placeholder="Peer2Peer Search..." v-model="query" @keyup.enter="search">
                <button class="btn btn-primary" @click="search"><i class="fa fa-search"></i></button>
            </div>
        </div>

        <!-- NETWORK STATUS -->

        <div class="slim-header-right">
            <div class="dropdown dropdown-a">
                <a href="javascript://" class="header-notification" data-toggle="dropdown">
                    <i class="fa fa-wifi"></i>
                </a>
                <div class="dropdown-menu">
                    <div class="dropdown-menu-header">
                        <h6 class="dropdown-menu-title">P2P Networking</h6>
                        <div>
                            <a href="javascript://" @click="networkStatusLogs">Show Logs</a>
                            <a href="javascript://" class="networkStatusSettings">Settings</a>
                        </div>
                    </div>

                    <div class="dropdown-activity-list">
                        <div class="activity-label tx-16 text-center">
                            <strong class="tx-16" :class="networkStatusClass">{{ networkStatus }}</strong>
                        </div>

                        <div v-if="networkIdentity" class="activity-label tx-16 text-center">
                            <span class="tx-9" v-html="networkIdentity"></span>
                        </div>

                        <div class="activity-item">
                            <div class="row no-gutters">
                                <div class="col-2 tx-right">10:15am</div>
                                <div class="col-2 tx-center"><span class="square-10 bg-success"></span></div>
                                <div class="col-8">Purchased christmas sale cloud storage</div>
                            </div>
                        </div>

                        <div class="activity-item">
                            <div class="row no-gutters">
                                <div class="col-2 tx-right">9:48am</div>
                                <div class="col-2 tx-center"><span class="square-10 bg-danger"></span></div>
                                <div class="col-8">Login failure</div>
                            </div>
                        </div>

                        <div class="activity-item">
                            <div class="row no-gutters">
                                <div class="col-2 tx-right">7:29am</div>
                                <div class="col-2 tx-center"><span class="square-10 bg-warning"></span></div>
                                <div class="col-8">(D:) Storage almost full</div>
                            </div>
                        </div>
                    </div>

                    <div class="dropdown-list-footer">
                        <a href="javascript://" @click="networkStatusShowAll"><i class="fa fa-angle-down"></i> Show All Activities</a>
                    </div>
                </div>
            </div>

            <!-- NOTIFICATIONS -->

            <div class="dropdown dropdown-b">
                <a href="javascript://" class="header-notification" data-toggle="dropdown">
                    <i class="fa fa-at"></i>
                    <span :class="{ indicator: msgIndicator }"></span>
                </a>
                <div class="dropdown-menu">
                    <div class="dropdown-menu-header">
                        <h6 class="dropdown-menu-title">Messaging</h6>
                        <div>
                            <a href="javascript://" @click="msgNew">New Message</a>
                            <a href="javascript://" @click="msgMarkAllRead">Mark All Read</a>
                        </div>
                    </div>

                    <div class="dropdown-list">
                        <a v-for="msg in msgList" @click="loadMsg(msg.id)" href="javascript://" class="dropdown-link">
                            <div class="media">
                                <img :src="msg.icon" alt="">
                                <div class="media-body">
                                    <p>
                                        <span v-html="_parseFlags(msg.flags)"></span><strong>{{ msg.heading }}</strong> {{ msg.description}}
                                    </p>

                                    <span>{{ moment.unix(msg.dateCreated).format('llll') }}</span>
                                </div>
                            </div>
                        </a>

                        <div class="dropdown-list-footer">
                            <a href="javascript://" @click="msgShowAll"><i class="fa fa-angle-down"></i> Show All Messages</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- USER / PROFILE -->

            <div class="dropdown dropdown-c">
                <a href="javascript://" class="logged-user" data-toggle="dropdown">
                    <img :src="profile.icon" alt="">
                    <span>{{ profile.nametag }}</span>
                    <i class="fa fa-angle-down"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <div class="activity-label tx-16 text-center">
                        <strong class="text-success tx-16"></strong>
                    </div>

                    <nav class="nav">
                        <a href="javascript://" class="nav-link profileAccount"><i class="icon ion-md-person mr-3"></i> Account Profile</a>
                        <a href="javascript://" class="nav-link profileCrypto"><i class="icon ion-md-cash mr-3"></i> Crypto Wallet</a>
                        <a href="javascript://" class="nav-link profileSettings"><i class="icon ion-md-options mr-3"></i> Settings</a>
                        <a href="javascript://" class="nav-link profileHelp"><i class="icon ion-md-help-buoy mr-3"></i> Help &amp; Support</a>
                        <a href="javascript://" class="nav-link profileI18n"><span class="flag-icon flag-icon-us tx-16 mr-3"></span> English</a>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modalWait" class="modal fade">
    <div class="modal-dialog modal-dialog-vertical-center" role="document">
        <div class="modal-content bd-0 tx-14">
            <div class="modal-header">
                <h6 class="tx-18 mg-b-0 tx-uppercase tx-bold text-danger modalWaitTitle">
                    <!-- title placeholder -->
                </h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body pd-25">
                <h5 class="lh-3 mg-b-20 tx-inverse hover-primary modalWaitSubtitle">
                    <!-- subtitle placeholder -->
                </h5>

                <div class="modalWaitBody">
                    <!-- body placeholder -->
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modalAlert" class="modal fade">
    <div class="modal-dialog modal-dialog-vertical-center" role="document">
        <div class="modal-content bd-0 tx-14">
            <div class="modal-header">
                <h6 class="tx-18 mg-b-0 tx-uppercase tx-bold text-danger modalAlertTitle">
                    <!-- title placeholder -->
                </h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body pd-25">
                <h5 class="lh-3 mg-b-20 tx-inverse hover-primary modalAlertSubtitle">
                    <!-- subtitle placeholder -->
                </h5>

                <div class="modalAlertBody">
                    <!-- body placeholder -->
                </div>
            </div>

            <div class="modal-footer">
                <!-- <button type="button" class="btn btn-primary btnModalAlertAction">Action</button> -->
                <button type="button" class="btn btn-secondary btnModalAlertCancel" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="modalDebug" class="modal fade">
    <div class="modal-dialog modal-dialog-vertical-center" role="document">
        <div class="modal-content bd-0 tx-14">
            <div class="modal-header">
                <h6 class="tx-18 mg-b-0 tx-uppercase tx-bold text-danger">
                    DEBUGGING MENU
                </h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body pd-25">
                <h5 class="lh-3 mg-b-20 tx-inverse hover-primary">
                    Oh! Looks like you need some technical support.
                </h5>

                <p>
                    No worries, we've got you covered!
                </p>

                <button type="button" class="btn btn-info btnModalDebugTest4">Readme.md</button>
                <button type="button" class="btn btn-info btnModalDebugTest5">eBook</button>
                <button type="button" class="btn btn-warning btnModalDebugDbDumps">Dump Databases</button>
                <button type="button" class="btn btn-danger btnModalDebugDropFilesDb">Drop Files Db</button>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close Debugger</button>
            </div>
        </div>
    </div>
</div>

<!-- Gatekeeper: 0PEN Gateway's Sandboxed Iframe -->
<div class="gatekeeper">
    <iframe src='gatekeeper.html' id='gatekeeper' sandbox="allow-forms allow-scripts"></iframe>
</div>

<!-- Core JS Libraries -->
<script src="https://cdn.0net.io/libs/jquery/3.3.1/js/jquery.min.js"></script>
<script src="https://cdn.0net.io/libs/popper.js/1.12.9/js/popper.js"></script>
<script src="https://cdn.0net.io/libs/bootstrap/4.0.0/js/bootstrap.js"></script>
<script src="https://cdn.0net.io/libs/vue/2.5.17/js/vue.min.js"></script>
<script src="https://cdn.0net.io/libs/pouchdb/7.0.0/js/pouchdb.min.js"></script>
<script src="https://cdn.0net.io/libs/sockjs-client/1.1.4/js/sockjs.min.js"></script>
<script src="https://cdn.0net.io/libs/web3/1.0.0/js/web3.min.js"></script>
<script src="https://cdn.0net.io/libs/moment/2.22.2/js/moment.min.js"></script>
<script src="https://cdn.0net.io/libs/numeral/2.0.6/js/numeral.min.js"></script>
<script src="https://cdn.0net.io/libs/FileSaver/1.3.8/js/FileSaver.min.js"></script>

<!-- Browserified JS Libraries -->
<script src="./libs/bencode.js"></script>
<script src="./libs/bitcoin-message.js"></script>
<script src="./libs/bitcore-namecoin.js"></script>
<script src="./libs/buffer.js"></script>
<script src="./libs/crypto-js.js"></script>

<!-- Local JS Libraries -->
<script src="./js/_conn.js"></script>
<script src="./js/_debug.js"></script>
<script src="./js/_gatekeeper.js"></script>
<script src="./js/_modals.js"></script>
<script src="./js/_pouchDb.js"></script>
<script src="./js/_renderer.js"></script>
<script src="./js/_search.js"></script>
<script src="./js/_utils.js"></script>

<!-- Message Handlers -->
<script src="./js/handlers/_auth.js"></script>
<script src="./js/handlers/_block.js"></script>
<script src="./js/handlers/_config.js"></script>
<script src="./js/handlers/_info.js"></script>
<script src="./js/handlers/_search.js"></script>
<script src="./js/handlers/_whoAmI.js"></script>
<script src="./js/handlers/_zeroFile.js"></script>
<script src="./js/handlers/main.js"></script>

<!-- Main JS Library -->
<script src="./js/main.js"></script>

</body>
</html>
